# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.venv/
Lib/
Scripts/
site-packages/

# Node and frontend
node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Other
*.log
*.env
.env.*
